{% extends 'E1/main.html' %}
{% load static %}

{% block title %}Главная{% endblock title %}

{% block content %}
<br>

    <div class="text-content">
        
        <p class="text-content"><img width="400px" src="{% static '/images/coding.jpg' %}" alt="Програмирование">У меня много увлечений. Но самое любимое – это программирование.

        Мне всегда нравились компьютеры и техника. В школе я начал ходить на робототехнику, там мы создавали простейшие команды для роботов. Мне было очень интересно, и поэтому за урок я успевал придумать что-то свое: роботы-погрузчики, охранники, умная техника и еще, еще, еще… Мне это, действительно, нравится, ведь можно столько всего создать!

        Для своего хобби я всегда использую очень много флешек, так как удачные эксперименты сохраняю на них. Для успехов в области программирования нужно много знаний по математике и английскому языку, потому что команды зачастую задаются на английском. А одна ошибка может стоить поломки компьютера.

        Как-то у меня так и было, я сломал компьютер… Случайно сделал всего одну ошибку… И потребовалась помощь папы, чтобы исправить ошибку и восстановить данные. Запомнил я это надолго.

        Чтобы такого не происходило, необходимо точно знать, что ты делаешь, изучать английский, пробовать и учиться. Что-то можно посмотреть и попробовать повторить, а, возможно, появится интересная идея, которую ты реализуешь сам. На что-то уходит мало времени, какие-то идеи занимают больше времени, но в итоге цель будет достигнута.

        Дальше я начал стараться, и у меня начало все получатся, особенно создавать маленькие программы. Как-то пытался создать вирусы, но родители объяснили, что это плохая идея. Поэтому лучше писать программы – это безопасно. Сегодняшний мир зависит от гаджетов, в мире очень мало людей, кто их не использует вовсе, это интересно, это удобно, это наше будущее.</p>
    </div>
{% endblock content %}
