{% load static %}

<div class="header">
    <div class="inner-header">
        <div class="logo-container">
            <ul class="navigation">
                <a href="{% url 'index' %}">
                    <li>Главная</li>
                </a>
                <a href="{% url 'about' %}">
                    <li>Обо мне</li>
                </a>
                <a href="{% url 'contacts' %}">
                    <li>Контакты</li>
                </a>
            </ul>

            <img id='logoimg' width="50px" src="{% static '/images/logo.png' %}" alt="Програмирование">
            <h1 id='title'>Моё хобби - программирование</h1>
        </div>
    </div>
</div>